<head>
    <title>History Visualization</title>
    <link rel="icon" href="../icon.png"> </head>
<link rel="stylesheet" href="style.css">



<body ng-app="MainApp" ng-controller="MainController">
    <input type="text" ng-model="url">
    <button ng-click="addUrl()">add</button>
    
    <div ng-repeat="existingUrl in urls"> {{existingUrl}}
        <button ng-click="removeUrl(existingUrl)">remove</button>
    </div>
    
    
    <button id="loadButton" ng-click="doTheDance()">reload</button>
    
    <div class="loader"></div>
    <div class="charts">
        <canvas id="canvas" ></canvas>    
        <canvas id="canvas2" ></canvas>
        <canvas id="canvas3" ></canvas>
    </div>
    
    <div id="scripts">
        <script src="bower_components/angularjs/angular.min.js"></script>
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/chart.js/dist/Chart.bundle.min.js"></script>
        
        <script src="../node_modules/dataframe-js/dist/dataframe-min.js"></script>
        <script src="../node_modules/q/q.js"></script>
        
        <script src="app.js"></script>
        <script src="history.js"></script>
    </div>
</body>
